<div class="container mt-5">
    <div class="row">
        <section class="col-6">
                <label class="form-label" for="customFile"><strong>Upload Products</strong></label>
                <input type="file" #file placeholder="Choose File" (change)="uploadFile(file.files)" multiple>
                <button type="button" class="btn btn-warning btn-block" (click)="file.click()">Upload Files</button>
              
        </section>
        <div class="col-md-4">
            <span class="upload" *ngIf="progress > 0">
                {{progress}}%
            </span>
            <span class="upload" *ngIf="message">
                {{message}}
            </span>
        </div>
     </div>
</div>




<!-- <div class="row" style="margin-bottom:15px;">
    <div class="col-md-3">
      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" multiple>
      <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
    </div>
    <div class="col-md-4">
      <span class="upload" *ngIf="progress > 0">
        {{progress}}%
      </span>
      <span class="upload" *ngIf="message">
        {{message}}
      </span>
    </div>
  </div> -->

